/* Efecto hover para el logo (específico para este header) */
.logo-header-ch .img-logo-header {
    height: 2.5em;
    width: auto;
    transition: transform 0.3s ease;
}
.logo-header-ch:hover .img-logo-header {
    transform: scale(1.05);
}

/* Efectos hover para los enlaces (exclusivos de este nav) */
.nav-link-ch {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    position: relative;
}
.nav-link-ch:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.header-chihuahua .nav-link-ch::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333; /* Color personalizable */
    transition: width 0.3s ease;
}
.header-chihuahua .nav-link-ch:hover::after {
    width: 100%;
}

.section-principal {
    background-color: #299BD7;
    color: white;
    position: relative;
    text-align: center;
    padding: 100px 20px;
    overflow: hidden;
}


.section-principal .background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: 1;
}

.section-principal .content {
    position: relative;
    z-index: 2;
}

.section-principal img {
    
    margin-bottom: 20px;
}

/* Oscurecer la imagen del banner */
.banner-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5); /* Oscurecimiento al 50% */
z-index: 1;
}

.card_anim {
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.card_anim:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* texto sobre la pleca oscura */
.carousel-caption {
z-index: 2;
color: white;
}

/* Animación Zoom In */
.zoom-in {
animation: zoomIn 6s ease-in-out infinite alternate;
}

@keyframes zoomIn {
0% {
    transform: scale(1);
}
100% {
    transform: scale(1.1);
}
}

footer h5 {
font-weight: bold;
color: #6D6D6D;
}

footer p,
footer ul li {
font-size: 14px;
color: #6D6D6D;
}

footer a {
color: #6D6D6D;
transition: color 0.3s ease;
}

footer a:hover {
color: #000;
}

/* engrosar HR */
.custom-hr {
    height: 5px; /* Grosor del <hr> */
    background-color: #000; /* Color del <hr> */
    border: none; /* Sin bordes */
    width: 60%; /* Ancho del 60% */
    margin: 0 auto; /* Centrar horizontalmente */
  }

  .carousel-section {
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 15px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1); /* Hace las flechas blancas */
  }
  
  .titulo-reg {
    font-size: 3rem;
  }

  .carousel-item {
    transition: transform 1s ease, opacity 2s ease !important;
  }

  .carousel-container {
      background: url('_images/fondo_barrancas.jpg') no-repeat center center;
      background-size: cover;
      padding: 40px 0;
  }
  .carousel-item img {
      width: 100%;
      border-radius: 10px;
  }
  .carousel-control-prev, .carousel-control-next {
      width: 5%;
  }

  .slick-carousel .card {
    margin: 0 20px; /* Espacio entre tarjetas */
}

@media (max-width: 768px) {
    .slick-carousel .card {
        margin: 0 10px; /* Reduce el margen en pantallas pequeñas */
    }
}

.slick-carousel .card {
  margin: 0 15px; /* Margen de 15px a la izquierda y derecha */
}

.gallery img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05); /* Hace zoom al 105% */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Agrega una sombra más fuerte */
}

.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.img-container img {
  display: block;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.img-container:hover img {
  transform: scale(1.05);
}

/* Pleca oscura */
.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-container:hover::before {
  opacity: 1;
}

/* Contenido del overlay */
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-container:hover .overlay-content {
  opacity: 1;
}

.overlay-content img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.overlay-content p {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

/* Hover del Carrusel - letras*/

.carousel-caption h2:hover {
  color: #FFD700; /* Color dorado */
  transition: color 0.3s ease-in-out;
}

.carousel-caption p:hover {
  color: #FFA500; /* Color naranja */
  transition: color 0.3s ease-in-out;
}

 /* Quitamos el flex del body */
 body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  width: 100%;
  background: #f0f0f0;
}

/* Ahora el main es el que maneja la fila del sidebar y el mapa */
main {
  display: flex;
  height: calc(100vh - 100px); /* Ajusta según la altura de tu header/footer */
}

.sidebar {
  transition: margin-left 0.400s ease;
}
.sidebar.collapsed {
  margin-left: -290px; /* lo esconde hacia la izquierda */
}

.toggle-sidebar-btn {
  position: absolute;
  top: 50%;
  left: 295px; /* se sale justo al borde del sidebar */
  transform: translateY(-50%);
  z-index: 9999;
  background-color: #494949;
  border: none;
  width: 42px;
  height: 42px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: left 0.4s ease;
}
.sidebar-collapsed .toggle-sidebar-btn {
  left: 0px;
  transition: left 0.400s ease; 
}




#map {
  flex: 1;
  height: 100vh;
}

.leaflet-popup-content-wrapper {
    background-image: url('../../_images/textura_chihuahua_es_para_ti.svg') !important;
    background-repeat: repeat !important;
    background-size: cover !important;
    background-color: transparent !important;
    border-radius: 12px !important;
    color: white !important;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6) !important;
    border: none !important;
}

.popup-bg {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 12px;
    padding: 10px;
    color: #fff;
}

.form-check-label {
  margin-left: 5px;
}

.btn-success {
  font-weight: bold;
  border-radius: 5px;
}

.svg-icon {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3)); 
}

#noResults {
    position: absolute;
    z-index: 1000;

}

#mapContainer {
    position: relative;
}

/* Guida de colores en el mapa */

#regionColorGuide {
  position: absolute;
  bottom: 20px;
  right: 20px; /* Cambiado de left a right */
  background-color: #FFFFFF;
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  border-radius: 10px;
  z-index: 1000;
  width: 13%;
  max-height: 43%;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  font-size: 0.95em;
}

#regionColorGuide ul li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 10px;
}

#regionColorGuide ul li span {
  display: inline-block;
  width: 20px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
}



.info-box {
  background: white; 
  padding: 10px; 
  border-radius: 5px;
}

.info-box img {
  width: 100%; 
  border-radius: 5px;
}
.info-box a {
  display: block; 
  margin-top: 10px; 
  padding: 5px; 
  text-align: center; 
  text-decoration: none;
}
.btn-green {
  background: #73c42c; 
  color: white !important;
}

.carrusel-atrac {
  background-repeat: repeat; 
  background-color: #5C7812; 
  background-blend-mode: overlay; /* Mezcla el color con el SVG */
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

.fade-in2 {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-in2.show {
  opacity: 1;
  transform: translateY(0);
}
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomIn 15s ease-in-out infinite;
}

.banner-img {
  height: 800px;
  object-fit: cover;
}

@keyframes zoomIn {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}


@media (max-width: 768px) {
  .banner-content {
    width: 100% !important;
    padding: 1rem !important;
  }

  .banner-content h2 {
    font-size: 2rem !important;
  }

  .banner-content p {
    font-size: 0.9rem !important;
  }

  .banner-icon {
    width: 70px !important;
    height: 70px !important;
  }

  .banner-icon img {
    max-width: 50% !important;
    max-height: 50% !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  width: 20px;
  height: 20px;
}

.logo-container {
            height: 190px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa;
            gap: 40px;
            padding: 20px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
        }
        .logo {
            width: 180px;
            transition: transform 0.3s ease;
        }
        .logo:hover {
            transform: scale(1.1);
        }

        .logo-container a {
            scroll-snap-align: center;
            flex: 0 0 auto;
            }


/* RESPONSIVOOO */

@media (max-width: 768px) {
  #carouselExample .carousel-item .col-md-4 {
    flex: 0 0 100% !important; 
    max-width: 100% !important;
  }
}

/* Responsivo en móvil */
@media (max-width: 768px) {
  .logo-container {
    gap: 20px;
    padding: 10px 15px;
  }

  .logo {
    height: 70px;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 280px;
    z-index: 1050;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    background-color: #494949 !important;
  }

   #sidebar.active {
    left: 0;
  }

  .sidebar.collapsed {
    transform: translateX(-100%);
    margin-left: 0; /* aseguramos que no afecte layout */
  }

  #toggleSidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #494949;
    border: none;
    width: 42px;
    height: 42px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .toggle-sidebar-btn {
    right: 0 !important;
    top: 100px;
    transform: none;
    z-index: 1001;
  }

  #atractivosContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .img-card-uniform {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
   
}
